API_BASE_URL=https://api.example.com
API_KEY=ff849f31aaa73f0ecf97daa6434d9873265721ea96480c9756e95e0175e7084b
API_AUTH_TYPE=api_key #
PAGE_PARAM=page
PAGE_SIZE_PARAM=limit
PAGE_SIZE=100
OUTPUT_DIR=./data
POSTGRES_URL=postgresql://user:pass@db:5432/extractor
RATE_LIMIT_PER_MINUTE=60